@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
}

/* Color Theme Swatches in Hex */
.Old-paper-vintage-texture-background-1-hex { color: #F2CEA2; }
.Old-paper-vintage-texture-background-2-hex { color: #402915; }
.Old-paper-vintage-texture-background-3-hex { color: #734C29; }
.Old-paper-vintage-texture-background-4-hex { color: #A67449; }
.Old-paper-vintage-texture-background-5-hex { color: #D9AB82; }

/* Color Theme Swatches in RGBA */
.Old-paper-vintage-texture-background-1-rgba { color: rgba(242, 206, 162, 1); }
.Old-paper-vintage-texture-background-2-rgba { color: rgba(63, 40, 21, 1); }
.Old-paper-vintage-texture-background-3-rgba { color: rgba(114, 75, 41, 1); }
.Old-paper-vintage-texture-background-4-rgba { color: rgba(165, 116, 72, 1); }
.Old-paper-vintage-texture-background-5-rgba { color: rgba(216, 170, 130, 1); }

/* Color Theme Swatches in HSLA */
.Old-paper-vintage-texture-background-1-hsla { color: hsla(33, 75, 79, 1); }
.Old-paper-vintage-texture-background-2-hsla { color: hsla(28, 50, 16, 1); }
.Old-paper-vintage-texture-background-3-hsla { color: hsla(28, 47, 30, 1); }
.Old-paper-vintage-texture-background-4-hsla { color: hsla(28, 38, 46, 1); }
.Old-paper-vintage-texture-background-5-hsla { color: hsla(28, 53, 68, 1); }
